name: "python tests"
on:
  pull_request:
  push:
    branches: [latest]
jobs:
  mamba:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: setup conda
      uses: conda-incubator/setup-miniconda@3b0f2504dd76ef23b6d31f291f4913fb60ab5ff3
      with:
        auto-update-conda: true
        python-version: 3.9
        channels: conda-forge,bioconda
        miniforge-variant: Mambaforge
        miniforge-version: latest
        use-mamba: true
        mamba-version: "*"
        activate-environment: dinkum
        auto-activate-base: false
        use-only-tar-bz2: true

    - name: install dependencies
      shell: bash -l {0}
      run: mamba install pytest

    - name: install
      shell: bash -l {0}
      run: pip install -e .

    - name: test
      shell: bash -l {0}
      run: pytest
